* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 1s;
}

a:hover {
  opacity: 0.7;
}
nav {
  transition: .4s;
}
nav ul li a {
  white-space: nowrap;
  color: #e2d8c5;
  position: relative;

}
/*==== FOOTER ============================== */
.logo-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer {
    background-color: #000000;
    border-top: 1px solid #d2d2d7;
    text-align: center;
}



h2 {
    color: #ffffff;
    margin-bottom: 0.5rem;
    font: 400 1rem "Open Sans";
}

.footer-nav {
    margin-bottom: 1rem;
}

.footer-nav li a {
    padding: 12px;
    color: #ffffff;
    -webkit-font-smoothing: auto;
    font: 400 1rem "Open Sans";
}

.footer-nav li a:hover {
    transition: 0.3s;
	color:#fdb913;
}

.footer-nav li {
    padding: 0.2rem;
}

.share-icon {
    margin-left: 1rem;
}

.share-icon img {
    height: 37px;
    width: 37px;
    margin-right: 1rem;
}

.share {
    justify-content: center;
    padding-top: 1rem;
}



.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 10px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {

  width: 32px;
  height: 2px;
  background: rgb(255, 255, 255);
  margin: 8px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);

}
figure.mcd-media-image {
  height: 40%;
}


.mcd-tile-container {
  width: 10;
}

.mcd-tile-container__content-action{
  padding-top: 1rem;
}

.mcd-tile-container {
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;
}

.mcd-tile-container_content {
  padding: 10px;
  text-align: center;
}

#body-tiles {
  background-color: #ffffff;
  gap: 1rem;
  padding: 0.5rem;
  text-align: center;
  display: grid;
}

.mcd-tile-container_content-info {
font: 400 1.075rem "Open Sans";
}


@media (max-width: 500px) {


  main {
    position: relative;
    top: -3.5rem;
  }

  .first-content-desktop {
    display: none;
      }
      .first-content-smartphone {
        width: 100%;
        height: auto;
          }

 .first-content-smartphone img {
  max-width: 1080px;   /* Máximo da largura da imagem */
  width: 120%;
  min-height: auto;      /* Mínimo da altura, por padrão “auto” */
 }         

 nav img {
   justify-content: center;
 }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Open Sans', sans-serif;
  }
  .logo {
    z-index: 998;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2rem;
      }
  body {
    overflow-x: hidden;
  }

  .nav-list {
    z-index: 998;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    position: fixed;
    z-index: 999;
    display: block;
  }
}


@media screen and (min-width: 501px) and (max-width: 1025px){
  #body-tiles {
    background-color: #ffffff;
    gap: 1rem;
    padding: 0.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  
  main {
    position: relative;
    top: -3.5rem;
  }
   
 nav img {
   justify-content: center;
 }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Open Sans', sans-serif;
  }
  .logo {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2rem;
      }
  body {
    overflow-x: hidden;
  }

  .nav-list {
    z-index: 998;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    position: fixed;
    z-index: 999;
    display: block;
  }
  .first-content-desktop img {
    max-width: 1080px;   /* Máximo da largura da imagem */
    width: 100%;
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
   }         
  
  .first-content-desktop {
    height: 100%;
      }
      .first-content-smartphone {
        display: none;
      }
}

@media screen and (min-width: 1026px) {
  #body-tiles {
    margin-top: -10rem;
    position: relative;
    background-color: #ffffff;
    gap: 1rem;
    padding: 0.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
  .first-content-desktop img {
    max-width: 1920px;   /* Máximo da largura da imagem */
    width: 100%;
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
   }      
  .first-content-desktop {
    margin-top: -4rem;
height: 100%;
  }
  .first-content-smartphone {
    display: none;
  }
  .nav-list {
    gap: 5rem;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
  nav {
    z-index: 999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.841);
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
  }
  
  main {
    background-size: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

  }

  .logo {
    display: none;
  }
}