/*==== RESET ============================== */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fdb913;
  cursor: pointer;
  transition: 0.2s;
}
nav {
  font-size: 2rem;
  transition: .4s;
}
nav ul li a {
  white-space: nowrap;
  color: #e2d8c5;
  position: relative;
}

/*==== LOGO ============================== */

.logo {
  z-index: 998;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0.8rem;
    }
/*==== HEADER ============================== */
.mobile-menu {
  z-index: 999;
  position: fixed;
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 2rem;
  padding: 0.5rem 0.25rem;
  background: #000000a4;
  color: #e2d8c5;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
  cursor: pointer;
}
.mobile-menu div {

  width: 25px;
  height: 2px;
  background: rgb(255, 255, 255);
  margin: 6px;
  transition: 0.3s;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 2px;
}

.nav-list.active {
  transform: translateX(0);
}
/*==== FIRST-BANNER ============================== */
.first-content-desktop {
  display: none;
    }
.first-content-smartphone {
  width: 100%;
  height: auto;
  }


/*==== BODY-TILE CONTENT ============================== */

.mcd-tile-container__content-action{
  padding-top: 1rem;
}

.mcd-tile-container {
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;
}

.mcd-tile-container_content {
  padding: 10px;
  text-align: center;
}
.button-mcd {
  font: 400 1.175rem "Open Sans";
  border-radius: 5px;
  height: 2.6rem;
  padding: 0 1rem;
  border:2px solid #fdb913;
  align-items: center;
  display: inline-flex;
  background-color: #fdb913;
  color: black;
  cursor: pointer;
}
.button-mcd:hover {
  transition: 0.3s;
  color:#e2d8c5;
  border:2px solid #e2d8c5;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

figure.mcd-media-image {
  height: 40%;
}




.mcd-tile-container__content-action{
  padding-top: 1rem;
}

.mcd-tile-container {
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;
}

.mcd-tile-container_content {
  padding: 10px;
  text-align: center;
}

#body-tiles {
  margin-top: -1rem;
  background-color: #ffffff;
  gap: 2.5rem;
  padding: 1rem;
  text-align: center;
  display: grid;
}

.mcd-tile-container_content-info {
font: 400 1.075rem "Open Sans";
}

/*==== FOOTER ============================== */
.logo-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer {
    background-color: #000000;
    border-top: 1px solid #d2d2d7;
    text-align: center;
}

h2 {
    color: #ffffff;
    margin-bottom: 0.5rem;
    font: 400 1rem "Open Sans";
}

.footer-nav {
    margin-bottom: 1rem;
}

.footer-nav li a {
    padding: 12px;
    color: #ffffff;
    font: 400 1rem "Open Sans";
}

.footer-nav li a:hover {
    transition: 0.3s;
	color:#fdb913;
}

.footer-nav li {
    padding: 0.2rem;
}

.share-icon {
    margin-left: 1rem;
}

.share-icon img {
    height: 37px;
    width: 37px;
    margin-right: 1rem;
}


.share {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  flex-direction: column;
}
.footer-border {
  border-top: 1px solid #CCC;
  margin-left: 5rem;
  margin-right: 5rem;
}



/*============================================================ SMARTPHONE ===================================================================== */
@media (max-width: 500px) {
main {
  position: relative;
  top: -3.5rem;
}
/*==== LOGO ============================== */

/*==== HEADER ============================== */
.mobile-menu {
  top: 1.1rem;
  position: fixed;
  z-index: 999;
  display: block;
} 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Open Sans', sans-serif;
}

nav img {
  display: none;
  justify-content: center;
}

.nav-list {
  z-index: 998;
  display: flex;
  justify-content: center;
  position: fixed;
  top: -7rem;
  right: 0;
  width: 100vw;
  height: 119%;
  background: #000000;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}
.nav-list li {
  margin-left: 0;
  opacity: 0;  }
/*==== FIRST-BANNER ============================== */

/*==== BODY-TILE CONTENT ============================== */
/*==== FOOTER ============================== */
small {
  margin-top: 0.5rem;
  font-size: 0.5rem;
}
.logo-footer img {
height: 45px;
}
h2 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font: 400 0.8rem "Open Sans";
}

}

/*============================================================TABLET===================================================================== */
@media screen and (min-width: 501px) and (max-width: 1025px){
body {
  overflow-x: hidden;
  }
main {
  position: relative;
  top: -3.5rem;
  }
/*==== LOGO ============================== */
.logo {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0.8rem;
  }
/*==== HEADER ============================== */
.mobile-menu {
  top: 1.1rem;
  position: fixed;
  z-index: 999;
  display: block;
  }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Open Sans', sans-serif;
   }
  
nav img {
  display: none;
  justify-content: center;
  }
  
.nav-list {
  z-index: 998;
  display: flex;
  justify-content: center;
  position: fixed;
  top: -9rem;
  right: 0;
  width: 100vw;
  height: 120%;
  background: #000000;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in; }

.nav-list li {
  margin-left: 0;
  opacity: 0;
}
/*==== FIRST-BANNER ============================== */
.first-content-desktop {
  height: 100%;
  display:flex;
    }

.first-content-smartphone {
  display: none;
  width: 100%;
  height: auto;
  }

.first-content-smartphone img {
  max-width: 496px;
  width: 120%;
  min-width: 400px;
  } 

/*==== BODY-TILE CONTENT ============================== */

#body-tiles {
  margin-top: -2.4rem;
  background-color: #ffffff;
  gap: 2rem;
  padding: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.mcd-tile-container__content-action{
  padding-top: 1rem;
}

.mcd-tile-container {
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;
}

.mcd-tile-container_content {
  padding: 10px;
  text-align: center;
}
/*==== FOOTER ============================== */
.footer-border {
  border-top: 1px solid #CCC;
  margin-left: 10rem;
  margin-right: 10rem;
}

}


/*============================================================ PC ===================================================================== */
@media screen and (min-width: 1026px) {
main {
  background-size: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
} 
  /*==== LOGO ============================== */
  .hlistl {
    height: 3rem;
    display: flex;
  }
.logo {
  display: none;
}
/*==== HEADER ============================== */
.header {
  z-index: 999;
}
nav {
  font-size: 1rem;
  z-index: 999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.841);
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  display: flex;
  font: 400 1.075rem "Open Sans";
  position: fixed;
}

.nav-list {
  transition: transform 0.3s ease-in;
  gap: 5rem;
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
/*==== FIRST-BANNER ============================== */

.first-content-desktop {
  justify-content: center;
  position: relative;
  top: -4.5rem;
  display:flex;
  width: 100%;
  height: auto;
  }

.first-content-smartphone {
  display: none;
  width: 100%;
  height: auto;
}
/*==== BODY-TILE CONTENT ============================== */
#body-tiles {
  margin-top: -14rem;
  position: relative;
  background-color: #ffffff;
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



.mcd-tile-container:hover {
  border: 2px solid #e1e1e1;
}

.mcd-tile-container__content-action{
    padding-top: 1rem;
}

.mcd-tile-container {
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
    border-radius: 6px;
    overflow: hidden;
    flex-direction: column;
}

.mcd-tile-container_content {
    padding: 10px;
    text-align: center;
}

.button-mcd {
    font: 400 1.175rem "Open Sans";
    border-radius: 5px;
    height: 2.6rem;
    padding: 0 1rem;
    border:2px solid #fdb913;
    align-items: center;
    display: inline-flex;
    background-color: #fdb913;
    color: black;
    cursor: pointer;
}

.button-mcd:hover {
    transition: 0.3s;
    color:#e2d8c5;
    border:2px solid #e2d8c5;
}   

.footer-border {
  border-top: 1px solid #CCC;
  margin-left: 20rem;
  margin-right: 20rem;
}
}